<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reservationMapper">
	<resultMap type="reservationDTO" id="reservation">
		<id column="reserv_no" property="reservationNo"/>
		<result column="board_no" property="boardNo"/>
		<result column="reserv_start" property="startDate"/>
		<result column="reserv_end" property="endDate"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	
	<!-- 글번호에 해당하는 예약 조회 -->
	<select id="selectReservationByBoardNo" resultMap="reservation" parameterType="int">
		SELECT reserv_no, board_no, reserv_start, reserv_end, reg_date 
		FROM RESERVATION where board_no=#{value}
	</select>
	
	<insert id="insertReservation" parameterType="reservationDTO">
		insert into RESERVATION 
		values (SEQ_RESERV_NO.NEXTVAL, #{boardNo}, to_date(#{startDate},'yyyymmddhh24miss'), to_date(#{endDate},'yyyymmddhh24miss'), sysdate)
	</insert>
	
	<!-- sharing 삽입 -->
	<insert id="insertSharing" parameterType="sharingDTO">
		insert into sharing 
		values(SEQ_SHARING_NO.nextval, #{boardNo}, #{sellerId}, #{buyerId}, to_date(#{sharingStart},'yyyymmddhh24miss'), to_date(#{sharingEnd},'yyyymmddhh24miss'), '대여대기', #{totalPrice}, #{productCount})
	</insert>
	
	<!-- sharing 삭제 -->
	<delete id="deleteSharing" parameterType="int">
		delete from sharing where sharing_no=#{value}
	</delete>
	
	<!-- reservation 삭제 -->
	<delete id="deleteReservation" parameterType="int">
		delete from reservation where reserv_no=#{value}
	</delete>
	
	<update id="applyReturn" parameterType="map">
      update sharing 
      <set>
         <if test='returnState eq "반납".toString()'>
            transaction_state=#{returnState},
         </if> 
         sharing_end=sysdate
      </set>
      where sharing_no=#{sharingNo}
   </update>
		
	<update id="responseReturn" parameterType="map">
		update sharing
		<set>
			<if test='responseState eq "확인".toString()'>
				transaction_state='거래완료'
			</if>
		</set>
		where sharing_no=#{sharingNo}
	</update>	
	
</mapper>