<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reservationMapper">
	<resultMap type="reservationDTO" id="reservation">
		<id column="reserv_no" property="reservationNo"/>
		<result column="board_no" property="boardNo"/>
		<result column="reserv_start" property="startDate"/>
		<result column="reserv_end" property="endDate"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	
	<!-- 글번호에 해당하는 예약 조회 -->
	<select id="selectReservationByBoardNo" resultMap="reservation" parameterType="int">
		SELECT reserv_no, board_no, reserv_start, reserv_end, reg_date 
		FROM RESERVATION where board_no=#{value}
	</select>
</mapper>